// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary:red;


.realisation-img {
    width: 300px; 
    height: 200px; 
}

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here