{# templates/service/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Nos Services{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nos Services</h1>
        <p>Découvrez nos services de plomberie et de rénovation.</p>
    </div>
{% endblock %}