



$primary: #d60404; // Primary color
$secondary: #c5c2c2; // Secondary color
$success: #03c531; // Success color
$info: #f08c2e; // Info color
$warning: #f58607; // Warning color
$danger: #ff0000; // Danger color
$light: #ad9797; // Light color
$dark: #000000; // Dark color

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font-family-sans-serif: 'Red Hat Display', sans-serif;
$body-font-family: $font-family-sans-serif;
$body-font-size: 16px; // Augmenter cette valeur pour  police globale + grande
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 700;

@import "~bootstrap/scss/bootstrap";

//additional custom code 



// Custom styles
body {
    font-family: $body-font-family;
    font-size: $body-font-size;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
}
.navbar {
    padding-top: 0.5rem; // Réduire le padding en haut de la navbar
    padding-bottom: 0.5rem; // Réduire le padding en bas de la navbar

}

.navbar-brand {
    display: flex;
    align-items: center; // Centrer verticalement le contenu de la navbar-brand
}

.navbar-brand img {
    height: 70px; // hauteur de l'image du logo
    margin-bottom: 0; 
}

.navbar-nav .nav-item {
    margin-right: 70px; // espace entre les éléments de navigation
   
}

.nav-link {
    padding-top: 0.5rem; // Padding en haut du lien de navigation
        padding-bottom: 0.5rem; // Padding en bas du lien de navigation
        line-height: 1; // Ajuster la hauteur de ligne pour réduire la hauteur globale
}
.container-fluid {
    max-height: 80px; // Définir une hauteur maximale pour la container-fluid
    overflow: hidden; // Masquer le contenu dépassant de la container-fluid si nécessaire
}
.container-fluid {
    max-height: 80px; // Définir une hauteur maximale pour la container-fluid
    overflow: hidden; // Masquer le contenu dépassant de la container-fluid si nécessaire
}

// Taille des titres h1 et h2 augmentée
h1 {
    font-size: 3.5rem; // Exemple de taille augmentée
}

h2 {
    font-size: 2.5rem; // Exemple de taille augmentée
}