{# templates/testimonial/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Témoignages{% endblock %}

{% block body %}
    <div class="container">
        <h1>Témoignages</h1>
        <p>Ce que nos clients disent de nous.</p>
    </div>
{% endblock %}