{# templates/testimonial/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Témoignages{% endblock %}

{# templates/testimonials/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Témoignages{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Témoignages</h1>
        <div class="row">
            {% for testimonial in testimonials %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ testimonial.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ testimonial.date|date('d M Y') }}</h6>
                            <p class="card-text">{{ testimonial.message }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
